@use '../../scss/' as*;


.movie{

 &__list{

    .swiper-slide{
        width: 15% !important;
        @include tablet{
            width: 30% !important;
        }

        @include mobile{
            width: 40% !important;
        }
    }


   
 }

 &__item{
    position: relative;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $border-radius;
    padding-top: 160%;
    margin-bottom: 1rem;
     
  .btn{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(0);
      transition: transform .4s ease,box-shadow .4s ease;

  }
  &::before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0;
      transition: opacity .4s ease;
      border-radius: $border-radius;
  }    
  
  @media (hover:hover) and (pointer:fine){
      
    &:hover::before{
        opacity: 0.8;
    }

    &:hover .btn{
        transform:translate(-50%,-50%) scale(1);
    }

      
     
  }

  &-title{
      transition: color .4s ease;
  }   


}

 &__link{
   cursor: pointer;
   
   &:hover .movie__item-title{
       color: $main-color;
   }
 
 }

}